<ul>
	@each( productGroup in productGroup.childs)
		<li>
			&nbsp&nbsp&nbsp
			<input type="checkbox" class="form-check-input" id="group-{{productGroup.id}}" name="group" value="{{productGroup.id}}">
			{{ productGroup.name }} - ({{productGroup.id}})
			@if(!productGroup.childs.length < 1 || !productGroup.childs.length == undefined)
				@include('admin.products.partials.subTree')
			@endif
		</li>
	@endeach
</ul>