@layout('shop.layouts.app')
@section('content')
  <main role="main">
	  		Hier komt de ZawaDeals shop pagina !!!!
  </main>
@endsection

@section('scripts')
  <script type="text/javascript" charset="utf-8">
  </script>

@endsection
   