@layout('admin.layouts.app')
@section('content')
  <main role="main">
	  		Hier komt de ZawaDeals ADMIN pagina !!!!
  </main>
@endsection

@section('scripts')
  <script type="text/javascript" charset="utf-8">
  </script>
@endsection
