<!DOCTYPE html>
	<head>
		<html lang="nl">
    	<base href="./">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    	<meta name="description" content="Cool-Zawadi">
<!-- KEywords -->
		 <meta name="keyword" content="cool-zawadi">
<!-- Title -->
		<title>ZawaDeals</title>

<!--Icons -->
		<link rel="icon" href="/favicon/cz-glypicon.png">
		<link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

<!-- Custom fonts for this template-->
		<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    	<link href="/vendor/pace-progress/css/pace.min.css" rel="stylesheet">

<!-- Custom style files -->
		<link href="/admin-panel/css/app-admin.css" rel="stylesheet" type="text/css">
<!-- APP Styles -->
	  	@!section('styles')
	</head>
	<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">	 
		@include('admin.partials.navbar')
		<div class="app-body">
			@include('admin.partials.sitebar')
			<main class="main">
			<!-- include('admin.partials.breadcrumbs') -->
				<div class="container-fluid" style="margin-top:30px;">
					<div class="animated fadeIn">
						<div id="app">
							@!section('content')
						</div>
					</div>
				</div>
			</main>
		<!-- include('admin.partials.asidemenu') -->
		</div>
		<footer class="app-footer">
			@include('admin.partials.footer')
		</footer>	
	</body>
	@include('admin.products.modals.calcModal')

<!-- Scripts -->
	<script src="/js/app.js"></script>
 	<script src="/admin-panel/js/pace.min.js"></script>
    <script src="/admin-panel/js/perfect-scrollbar.min.js"></script> 
	<script src="/admin-panel/js/coreui.min.js"></script>
	<script src="/admin-panel/js/custom-tooltips.min.js"></script>
	<script>
		$(document).ready(function() {
			// Modal to display Bol commissions on a specific product
			$('#calcLink').on('click', function(){
				$('#costDisplay').hide();
				$('#calcForm input[name=id]').val('');
				$('#calcForm input[name=ean]').val('');
				$('#calcForm input[name=fixedCost]').val('');
				$('#calcForm input[name=procentCost]').val('');
				$('#calcForm input[name=costReduction]').val('');
				$('#calcForm input[name=maxPrice]').val('');
				$('#calcForm input[name=startDate]').val('');
				$('#calcForm input[name=endDate]').val('');
				$('#calcModal').modal('show');	
			});

			$('#calcButton').on('click', function(){
				var ean = $('#calcForm input[name=ean]').val();
				var id = $('#calcForm input[name=id]').val();
				if(ean || id){
					if(!ean){ean = 0};
					if(!id){id = 0};
					$.ajax({
						url: "/admin/bol/calculate/ean/" + ean + "/id/" + id,
						method: 'GET'
					}).done(function(data) {
						$('#calcForm input[name=fixedCost]').val(data.fixedAmount);
						$('#calcForm input[name=procentCost]').val(data.procent);
						if(Object.keys(data.reductions).length > 0){
							$('#costDisplay').show();
							$('#calcForm input[name=costReduction]').val(data.reductions.Reduction[0].CostReduction[0]);	
							$('#calcForm input[name=maxPrice]').val(data.reductions.Reduction[0].MaximumPrice[0]);
							$('#calcForm input[name=startDate]').val(data.reductions.Reduction[0].StartDate[0]);
							$('#calcForm input[name=endDate]').val(data.reductions.Reduction[0].EndDate[0]);
						}
					});	
				}		
			});  

			
		});
	</script>	

	@!section('scripts')
</html>
